.home {
  padding: 10px 20px;
}

.home .form-box {
  margin-top: 20px;
}

.home .form-box label {
  cursor: pointer;
}

.home .form-box input {
  width: 250px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #007fff;
  border-radius: 2px;
  outline: none;
}

.home .confirm-btn {
  width: 100px;
  height: 36px;
  margin-top: 20px;
  background-color: #007fff;
  border: 1px solid #007fff;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}