.activities-nav a {
  position: relative;
  padding: 0 15px;
  font-size: 13px;
}

.activities-nav a:not(:last-child)::after {
  position: absolute;
  top: 1px;
  right: 1px;
  display: inline-block;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #ebebeb;
}

.activities-nav a {
  color: #71777c;
}


.activities-nav a.active {
  color: #007fff;
}

.inner-content {
  padding: 20px 10px;
}