.nav {
  line-height: 60px;
  padding: 0 50px;
  background-color: #fff;
}

.nav a {
  color: #71777c;
  margin: 0 20px;
}


.nav a.active {
  color: #007fff;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  color: #71777c;
  margin: 0 20px;
  cursor: pointer;
}